NEXT_PUBLIC_SUPABASE_URL=https://jftragfdpepzpybzleat.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_VPnF0d1gxhfXyIuzGSyf5Q_pjRQCT6u
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_VPnF0d1gxhfXyIuzGSyf5Q_pjRQCT6u
SUPABASE_SERVICE_ROLE_KEY=
LLM_API_KEY=

# Secure Admin Credentials
ADMIN_EMAIL_1=
ADMIN_PASSWORD_1=
ADMIN_EMAIL_2=
ADMIN_PASSWORD_2=
